@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #060C0C;
    color: white;
}

img {
    width: 360px;
}

.logoh1 {
    padding-left: 20px;
}

.logoh1 a {
    color: white;
    text-decoration: none;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

li, a, button {
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.navlist {
    list-style-type: none;
    padding-right: 20px;
}

.navlist li {
    padding: 0px 20px;
    display: inline-block;
}

.navlist li a {
    transition: all 0.3s ease 0s;
}

.navlist li a:hover {
    color:#5B9FEC
}

button {
    padding: 9px 25px;
    background-color: rgba(91,159,236,1);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(91,159,236,0.7);
}

@media all and (max-width: 480px) {
    .header {
        flex-direction: column;
    }
    .navlist {
        padding-right: 0px;
        width: 100%;
    }
    .navitems {
        display: block;
        text-align: center;
        border: 1px solid rgb(255, 255, 255);
    }
    .logoh1 {
        padding-left: 0px;
        padding-bottom: 10px;
    }
}